---
http_interactions:
- request:
    method: get
    uri: https://melissaknorris.com/pioneering-today-how-to-make-fresh-raspberry-juice/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Pingback:
      - https://melissaknorris.com/xmlrpc.php
      Link:
      - "<https://melissaknorris.com/?p=23972>; rel=shortlink"
      - <https://melissaknorris.com/wp-json/>; rel="https://api.w.org/"
      - <https://melissaknorris.com/wp-json/wp/v2/posts/23972>; rel="alternate"; title="JSON";
        type="application/json"
      X-Elasticpress-Query:
      - 'true'
      X-Nginx-Cache-Status:
      - STALE
      X-Server-Powered-By:
      - Kontrol v4
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n<meta charset=\"UTF-8\">\n<script>\nvar
        gform;gform||(document.addEventListener(\"gform_main_scripts_loaded\",function(){gform.scriptsLoaded=!0}),document.addEventListener(\"gform/theme/scripts_loaded\",function(){gform.themeScriptsLoaded=!0}),window.addEventListener(\"DOMContentLoaded\",function(){gform.domLoaded=!0}),gform={domLoaded:!1,scriptsLoaded:!1,themeScriptsLoaded:!1,isFormEditor:()=>\"function\"==typeof
        InitializeEditor,callIfLoaded:function(o){return!(!gform.domLoaded||!gform.scriptsLoaded||!gform.the[...]
